
.idea/

Engine/obj/

Game/obj/

Game/bin/

EngineSigma.Core/bin/

EngineSigma.Core/obj/

EngineSigma/obj/

EngineSigma/bin/

EngineTests/bin/

EngineTests/obj/

obj/

Frontend/bin/

EngineSigma.Editor/bin/

.vs/

EngineSigma.Core.UnitTests/bin/
